  h2 {
    font-size: 26px;
    margin: 20px 0;
    small {
      font-size: 0.5em;
    }
  }

  .modal-body {
    width: 100%;
  }

  .responsive-table {
    width: 100%;
  }
  .responsive-table {
    li {
      margin-left: -40px;
      border-radius: 3px;
      padding: 25px 5px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    } 
    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .table-footer {
      background-color: #0a0a0ae2;
      font-size: 20px;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
  }

  @media (max-width: 550px) {
    .table-row {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid #ddd;
      padding: 10px 0;
    }
    
    .table-row .col {
      padding: 5px;
    }
    
    .col-1, .col-2 {
      flex: 1;
      min-width: 50%;
    }
    
    .col-3 {
      flex: 1;
    }
    .col-4, .col-5 {
      flex: 1;
      min-width: 50%;
    }
  
  }